
// Fonts
@import url("../../../public/GOOGLE-FONTS/googleFonts.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body{
  font-family: "Raleway";
}


footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height:40px;
  width: 100%;
  background: white;
}

footer div{
  float: right;
  font-size: 12px;
  color: darkgrey;
  margin-right: 2.7%;
  margin-top: 1%;
  font-weight: bold;
  text-shadow: 2px 2px whitesmoke;
}
footer div a{
  color: darkgrey;
  text-shadow: 2px 2px whitesmoke;
}
footer div a:hover,footer div a:after{
  text-decoration: none;
  color: darkgrey;
  text-shadow: 2px 2px whitesmoke;
}